openapi: 3.2.0
info:
  title: iconik Collections API
  description: iconik is a hybrid cloud media asset management (MAM) platform.
  version: '1.0'
  contact:
    name: iconik
    url: https://www.iconik.io
servers:
- url: https://app.iconik.io/API
  description: iconik (US / default region)
- url: https://eu.iconik.io/API
  description: iconik (EU region)
security:
- appId: []
  authToken: []
tags:
- name: Collections
  description: Folder-like grouping of assets and sub-collections.
paths:
  /assets/v1/collections/:
    get:
      operationId: listCollections
      tags:
      - Collections
      summary: List collections
      description: Lists collections in the account, paginated.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of collections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
    post:
      operationId: createCollection
      tags:
      - Collections
      summary: Create a collection
      description: Creates a new collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreate'
      responses:
        '201':
          description: The created collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
  /assets/v1/collections/{collection_id}/:
    parameters:
    - $ref: '#/components/parameters/CollectionId'
    get:
      operationId: getCollection
      tags:
      - Collections
      summary: Get a collection
      description: Retrieves a single collection by ID.
      responses:
        '200':
          description: The collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCollection
      tags:
      - Collections
      summary: Delete a collection
      description: Deletes a collection.
      responses:
        '204':
          description: The collection was deleted.
  /assets/v1/collections/{collection_id}/contents/:
    parameters:
    - $ref: '#/components/parameters/CollectionId'
    get:
      operationId: getCollectionContents
      tags:
      - Collections
      summary: List collection contents
      description: Lists the assets and sub-collections contained within a collection, paginated.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: The contents of the collection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      type: object
                  pages:
                    type: integer
                  total:
                    type: integer
components:
  schemas:
    Collection:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        parent_id:
          type: string
        date_created:
          type: string
          format: date-time
    CollectionCreate:
      type: object
      required:
      - title
      properties:
        title:
          type: string
        parent_id:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        errors:
          type: array
          items:
            type: string
    CollectionList:
      type: object
      properties:
        objects:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
        page:
          type: integer
        pages:
          type: integer
        total:
          type: integer
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: The page number of results to return.
      schema:
        type: integer
        default: 1
    PerPage:
      name: per_page
      in: query
      required: false
      description: The number of results per page.
      schema:
        type: integer
        default: 10
    CollectionId:
      name: collection_id
      in: path
      required: true
      description: The unique ID of the collection.
      schema:
        type: string
  responses:
    NotFound:
      description: The requested object was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    appId:
      type: apiKey
      in: header
      name: App-ID
      description: The iconik application ID generated in the web UI.
    authToken:
      type: apiKey
      in: header
      name: Auth-Token
      description: The iconik auth token paired with the application ID.
