openapi: 3.0.3
info:
  title: iconik Assets Search API
  description: 'iconik is a hybrid cloud media asset management (MAM) platform. Its public API is API-first and organized as versioned REST microservices under https://app.iconik.io/API/{service}/v1/. This document models the core logical APIs an integrator uses most: Assets and Collections (assets microservice), Metadata, Search, Files, and Jobs. Every request is authenticated with two headers - App-ID (application identifier) and Auth-Token (auth token) - generated by an administrator in the iconik web UI under Settings / Application Tokens. Requests and responses are JSON. List responses are paginated and return page metadata (page, pages, total). Endpoints are grounded in iconik''s published API reference; request and response schemas are honestly modeled and simplified where the interactive reference is the authoritative source of the full object shapes.'
  version: '1.0'
  contact:
    name: iconik
    url: https://www.iconik.io
servers:
- url: https://app.iconik.io/API
  description: iconik (US / default region)
- url: https://eu.iconik.io/API
  description: iconik (EU region)
security:
- appId: []
  authToken: []
tags:
- name: Search
  description: Full-text and metadata search across the catalog.
paths:
  /search/v1/search/:
    post:
      operationId: search
      tags:
      - Search
      summary: Search
      description: Runs a search across assets and collections using full-text, metadata, and facet filters, with sorting and pagination supplied in the request body.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      type: object
                  pages:
                    type: integer
                  total:
                    type: integer
components:
  schemas:
    SearchRequest:
      type: object
      properties:
        query:
          type: string
          description: Full-text query string.
        doc_types:
          type: array
          items:
            type: string
          description: Object types to search, e.g. assets, collections.
        filter:
          type: object
          description: Structured metadata / facet filter.
        sort:
          type: array
          items:
            type: object
  parameters:
    PerPage:
      name: per_page
      in: query
      required: false
      description: The number of results per page.
      schema:
        type: integer
        default: 10
    Page:
      name: page
      in: query
      required: false
      description: The page number of results to return.
      schema:
        type: integer
        default: 1
  securitySchemes:
    appId:
      type: apiKey
      in: header
      name: App-ID
      description: The iconik application ID generated in the web UI.
    authToken:
      type: apiKey
      in: header
      name: Auth-Token
      description: The iconik auth token paired with the application ID.
